<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<p>
  As a dedicated software developer, I bring a wealth of experience and 
  expertise to the table. Proficient in Java, data structures, and algorithms (DSA), 
  I possess a deep understanding of the core principles that drive efficient and scalable software solutions. My skills extend across the full stack, allowing me to architect comprehensive applications that seamlessly integrate front-end and back-end technologies. With a passion for innovation and a commitment to excellence, I thrive in dynamic environments where I can leverage my technical acumen to solve complex problems and deliver impactful solutions. I am driven by a relentless pursuit of mastery and a desire to push the boundaries of what's possible in the world of software development.
   Let's collaborate and build the future together.

 </p>

 <%- include("partials/footer.ejs") %>