<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>Welcome to my personal website! I'm Soumya Sourav Patnaik, an aspiring software developer passionate about 
    crafting innovative solutions and embracing challenges in the digital realm. With a fervent curiosity for technology, I delve into the intricate world of coding,
     continuously honing my skills to create impactful software that makes a difference.
  </p>
  <p>
    Driven by a relentless pursuit of excellence, I thrive in collaborative environments where 
    creativity and problem-solving converge. Through my projects and endeavors, I aspire to 
    leave a positive mark, leveraging technology to empower individuals and communities.
     I believe in the transformative power of software, and I am dedicated to pushing boundaries,
      embracing new technologies, and refining my craft to shape the future of software development.
     Together, let's embark on this exhilarating journey of discovery and innovation..</p>

  <%- include("partials/footer.ejs") %>